@use'../customer' as *;
@use'../components/mixins.scss' as *;

.intro{
    @include gradient;
    background-image: url("https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2FsbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80");
    padding: 10rem 0 0 0;
    width: 100%;
    height: 100%;
}
.intros{
    .profile-picture{
        position: relative;
        margin-top: 3rem;
    }
}