@use'../customer' as *;
@use'../components/mixins.scss' as *;
.menu{
    @include gradient;
    background: linear-gradient(to right,rgba($primary, 1),rgba($primary, 0.58),rgba($secondary, 0.2));

    li{
        padding: 0 0.8rem;
    }
    a{
        counter-reset: $white !important;
        text-transform: capitalize;
        font-weight: 600;
        .navbar-brand a{
            font-size: 300;
         
        }

    }
}

