@use'../customer' as *;
@use'../components/mixins.scss' as *;
.btn-resume{
    margin-top: 3rem;
    position: bottom;
    display: inline-block;
    margin-left: 2rem;
    border: 0.1;
    width: 12rem;
    height:  3.1rem;
    color: $white;
}
.btn-github,.btn-email,.btn-linkedin, .btn-twitter{
    margin-left: 1rem;
    position: bottom;
    display: inline-block;
    border: 0.1;
    width: 5rem;
    height:  3rem;
    color: $white;
}